.control-icon.token-info-icon {
    width: 100%;
    flex-basis: auto;
    padding: 0 8px;
    margin: 2px 0 2px 0 !important;
}

#token-hud .token-info.col {
	justify-content: center;
}

#token-hud .token-info.col.far-left {
	left: calc(-1 * var(--column-width) - (var(--column-width) * 2));
	align-items: flex-end;
}

#token-hud .token-info.col.far-right {
	right: calc(-1 * var(--column-width) - (var(--column-width) * 1.75));
	align-items: flex-start;
}