.control-icon.chalkicon {
	width: fit-content;
	min-width: 42px;
	flex-basis: auto;
	padding: 0 8px;
    margin: 8px 15px 8px 0;
}

#token-hud .attribute.elevation {
	width: 42px;
	flex: 0 0 42px;
}

.chalkdiv {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-end; 
	align-items:center; 
	margin-right: 75px;
	flex: 0 !important;
}